# .dockerignore
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude everything
*

# ---------------------------------------------------------------------------- #
#               ------- Whitelist ------
# ---------------------------------------------------------------------------- #

# Docker
!docker/entrypoint.sh
!docker/healthcheck.py

# Python
!src/**/*.py
!pyproject.toml
!uv.lock

# Markdown
!README.md
