# .pre-commit-config.yaml
# https://pre-commit.com

# default_install_hook_types: [commit-msg, pre-commit, pre-push]
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

repos:
  # -------------------------------------------------------------------------- #
  #               ------- General ------
  # -------------------------------------------------------------------------- #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        exclude: ^helm_chart/templates/
      - id: debug-statements
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: name-tests-test
      - id: pretty-format-json
      - id: trailing-whitespace

  # -------------------------------------------------------------------------- #
  #               ------- Secrets & Environment Variables ------
  # -------------------------------------------------------------------------- #

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        name: gitleaks
        description: Detect hardcoded secrets using Gitleaks
        entry: gitleaks git --pre-commit --redact --staged --verbose
        language: golang
        pass_filenames: false

  - repo: local
    hooks:
      - id: varlock
        name: varlock
        description: Ensure project env file structure meets standards using varlock
        entry: .githooks/varlock.sh
        language: unsupported_script
        always_run: true
        pass_filenames: false

  # -------------------------------------------------------------------------- #
  #               ------- Version Control ------
  # -------------------------------------------------------------------------- #
  # - repo: https://github.com/commitizen-tools/commitizen
  #   rev: v4.9.1
  #   hooks:
  #     - id: commitizen
  #       stages: [commit-msg]
  #     - id: commitizen-branch
  #       stages: [pre-push]

  # - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  #   rev: v9.23.0
  #   hooks:
  #     - id: commitlint
  #       stages: [commit-msg]
  #       entry: commitlint --edit
  #       additional_dependencies: ["@commitlint/config-conventional", "@commitlint/format", "conventional-changelog-atom"]

  # - repo: https://github.com/jorisroovers/gitlint
  #   rev:  v0.19.1
  #   hooks:
  #   - id: gitlint
  #     stages: [commit-msg]

  - repo: local
    hooks:
      - id: pre-validate-user-email
        name: pre-validate-user-email
        description: Check user email against company approved domains
        entry: .githooks/pre-validate-user-email.sh
        language: unsupported_script
        always_run: true
        pass_filenames: false

  # -------------------------------------------------------------------------- #
  #               ------- Python ------
  # -------------------------------------------------------------------------- #

  # isort - Imports Sorting
  - repo: https://github.com/pycqa/isort
    rev: 8.0.0
    hooks:
      - id: isort
        name: isort (python)

  # pyupgrade - Upgrade syntax for newer versions of the language
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  # refurb - Refurbishing and modernizing Python codebases.
  - repo: https://github.com/dosisod/refurb
    rev: v2.3.0
    hooks:
      - id: refurb
        args: [--python-version, "3.11"]

  # ruff - Linter & Formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  # uv - Dependency Management
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.5
    hooks:
      - id: uv-lock
      - id: uv-export
        args: [--no-default-groups, --no-emit-project]

  - repo: https://github.com/tsvikas/sync-with-uv
    rev: v0.5.0
    hooks:
      - id: sync-with-uv

  - repo: local
    hooks:
      - id: uv-requirements
        name: uv-requirements
        description: Ensure all project requirements.txt are up-to-date
        entry: .githooks/uv-requirements.sh
        language: unsupported_script
        always_run: true
        pass_filenames: false

  # -------------------------------------------------------------------------- #
  #               ------- Shell ------
  # -------------------------------------------------------------------------- #
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # -------------------------------------------------------------------------- #
  #               ------- YAML ------
  # -------------------------------------------------------------------------- #
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--config-file, .yamllint]

  # -------------------------------------------------------------------------- #
  #               ------- Docker ------
  # -------------------------------------------------------------------------- #
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint

  # -------------------------------------------------------------------------- #
  #               ------- Helm ------
  # -------------------------------------------------------------------------- #
  - repo: local
    hooks:
      - id: helm-chart
        name: helm-chart
        description: Examine a chart for possible issues and update chart README file
        entry: .githooks/helm-chart.sh
        language: unsupported_script
        always_run: true
        pass_filenames: false

  # -------------------------------------------------------------------------- #
  #               ------- Project Structure ------
  # -------------------------------------------------------------------------- #
  - repo: local
    hooks:
      - id: ls-lint
        name: ls-lint
        description: Ensure project directory & file structure meets standards using ls-lint
        entry: ls-lint
        language: unsupported
        always_run: true
        pass_filenames: false

  # -------------------------------------------------------------------------- #
  #               ------- Documentation & Typos ------
  # -------------------------------------------------------------------------- #
  - repo: local
    hooks:
      - id: readme-update-env
        name: readme-update-env
        description: Update README.md environment variables table
        entry: python .githooks/readme_update.py
        language: unsupported
        always_run: true
        pass_filenames: false
        args: ["--command", "csv2md doc/env.csv", "--regex", '(List of available environment variables:\n\n)(.*?)(\n\n> \*\*Note\*\*:)']
      - id: readme-freeze
        name: readme-freeze
        description: Update README.md screenshots
        entry: .githooks/freeze.sh
        language: unsupported_script
        always_run: true
        pass_filenames: false
      - id: readme-update-tokei
        name: readme-update-tokei
        description: Update README.md code statistics
        entry: python .githooks/readme_update.py
        language: unsupported
        always_run: true
        pass_filenames: false
        args: ["--command", "tokei", "--regex", '(## Code Statistics\s*\n.*?```text\s*\n)(.*?)(\n```\s*\n)']
      - id: readme-update-uv
        name: readme-update-uv
        description: Update README.md dependency tree
        entry: python .githooks/readme_update.py
        language: unsupported
        always_run: true
        pass_filenames: false
        args: ["--command", "uv tree --no-default-groups", "--regex", '(## Dependencies\s*\n.*?```text\s*\n)(.*?)(\n```\s*\n)']

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.5
    hooks:
      - id: typos
