# .yamllint
# https://github.com/adrienverge/yamllint

extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  document-start:
    present: false
  line-length:
    max: 160
    level: warning

ignore-from-file: [.gitignore, .yamlignore]
